{%extends 'home/base.html'%} {%block title %}Add Project{%endblock title%}
{%block content%}
<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row">
      <div class="col">
        <h3 class="page-title">Product</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Dashboard</a></li>
          <li class="breadcrumb-item active">Product Form</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <div class="row">
    <div class="col-xl-8 d-flex">
      <div class="card flex-fill">
        <div class="card-header">
          <h4 class="card-title mb-0">Product Form</h4>
        </div>
        <div class="card-body">
          <form method="post">
            {%csrf_token%} {{form.as_p}}

            <div class="text-right">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
